# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Logs and databases
*.log
*.sqlite

# Local php development server
.router.php

# Project guides
_ANIMATION_GUIDE.md
_WEBDEV_GUIDE.md
_CYBERSECURITY_GUIDE.md
